@import 'variables';
.loader-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    md-progress-bar {
        height: 2px;
    }
    @include xs {
        display: none;
    }
}

.progress-container {
    @include xs {
        display: none;
    }
}

.header-container {
    width: 100%;
    display: -webkit-inline-flex;
    // @media screen and (max-width: $small-screen) {
    @include xs {
        background-color: $red-color;
        height: 34px;
        flex-flow: row nowrap;
        justify-content: flex-start;
        a {
            margin-left: 3%;
            .youtube-icon {
                color: $white-color;
                padding-top: 7px;
            }
            .youtube-title {
                display: none;
            }
        }
        .mobile-search-container {
            color: $white-color;
            padding-top: 10px;
            margin-right: 2%;
            margin-left: auto;
            span {
                margin-right: 7%;
                float: right;
            }
        }
        .mobile-search-input {
            width: 76%;
            margin-left: 12%;
            position: absolute;
            margin-top: 2%;
            input {
                height: 14px;
                width: 100%;
            }
        }
        .binding-data {
            margin-left: 2%;
            color: $white-color;
            padding-top: 10px;
            font-weight: 600;
            font-size: 14px;
            width: inherit;
            .channel-title {
                text-transform: capitalize;
            }
        }
        .search-container {
            display: none;
            button {
                width: 14%;
                float: right;
                border: none;
                background: transparent;
                color: $white-color;
                padding-top: 10px;
            }
        }
    }
    @include sm {
        .mobile-search-container {
            color: $white-color;
            padding-top: 10px;
            width: 55%;
            span {
                margin-right: 18px;
                float: right;
            }
        }
    }
    @include md {
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: $white-color;
        height: 55px;
        -webkit-box-shadow: 0px 3px 10px -2px rgba(148, 148, 148, 1);
        -moz-box-shadow: 0px 3px 10px -2px rgba(148, 148, 148, 1);
        box-shadow: 0px 3px 10px -2px rgba(148, 148, 148, 1);
        .binding-data,
        .mobile-search-container,
        .mobile-search-input {
            display: none;
        }
        a {
            text-decoration: none;
            color: inherit;
            margin-left: 16%;
            width: 15%;
            margin-right: 5%;
            padding-top: 17px;
            .youtube-icon {
                color: $red-color;
                margin-right: .5%;
                display: inline-block;
            }
            .youtube-title {
                display: inline-block;
                font-weight: bold;
                .youtube-localize {
                    vertical-align: super;
                    font-weight: normal;
                    opacity: 0.6;
                }
            }
        }
        .search-container {
            width: 47%;
            padding: 10px;
            display: flex;
            input {
                width: 86%;
                padding-left: 2%;
                border: solid $border-color 1px;
            }
            button {
                width: 14%;
                border: solid $border-color 1px;
                background-color: #F8F8F8;
                cursor: pointer;
                outline: none;
            }
        }
    }
}