<div *ngIf="spinner" class="loader-overlay">
    <md-progress-bar color="warn" mode="indeterminate"></md-progress-bar>
</div>

<div class="header-container">
    <!-- <a [routerLink]="['/search']"> -->
    <div class="youtube-icon">
        <i class="fab fa-youtube fa-lg"></i>
    </div>
    <!-- @TODO make localize code dynamic using regionCode from youtube api -->
    <span class="youtube-title">
       YouTube
       <small class="youtube-localize">
        EG
     </small>
    </span>
    <!-- </a> -->
    <div class="search-container">
        <input type="text" name="query" id="query" [(ngModel)]="searchQuery" (keyup.enter)="searchClick()">
        <button (click)="searchClick()"><i class="fas fa-search"></i>
        </button>
    </div>

    <div class="binding-data" [ngSwitch]="getCurrentPath()">
        <span *ngSwitchCase="'channel'" class="channel-title">{{channelTitle}}</span>
        <span *ngSwitchCase="'video'">YouTube</span>
        <span *ngSwitchCase="'search'">{{searchQuery}}</span>
        <span *ngSwitchDefault>YouTube</span>
    </div>
    <div class="mobile-search-container">
        <span>
            <i class="fas fa-search fa-sm"></i>
        </span>
    </div>

</div>