<p>
    channel-video-card works!
</p>
<div class="channel-video-container">
    <div class="thumbnail">
        <img [src]="videoItem.snippet.thumbnails.default.url" alt="">
    </div>
    <div class="video-details">
        <div class="video-title">
            {{videoItem.snippet.title}}
        </div>
        <div class="video-info" *ngIf="isVideoStatisticsAvailable">
            {{videoItem.snippet.channelTitle}} {{videoStatistics.viewCount | numberPrecision }} views

        </div>
    </div>
</div>