<div *ngIf="isChannelContentAvailable">
    <div class="channel-info-container">
        <div class="channel-banner">
            <img [src]="channelBrandingSettings.image.bannerImageUrl" alt="">
        </div>
        <div class="channel-img">
            <img [src]="channelSnippet.thumbnails.default.url" alt="">
        </div>
        <div class="channel-title">
            {{channelSnippet.title}}
        </div>
        <!-- @TODO show subscribe button if this channel not subscribed   -->
        <div class="channel-subsc-count">
            {{channelStatistics.subscriberCount | numberPrecision}} subscribers
        </div>

    </div>
</div>

<div *ngIf="isChannelPlaylistItemsAvailable">
    <div *ngFor="let listItem of channelSectionVideos">
        <app-related-video-card [videoItem]="listItem" [videoId]="listItem.contentDetails.videoId"></app-related-video-card>
        <!-- <app-video-card [videoItem]="listItem" [videoId]="listItem.contentDetails.videoId"></app-video-card> -->
    </div>

</div>