<!-- @TODO make searchQuery highlited -->

<div class="channel-video-container">
    <a [routerLink]="['/video', videoId]">
        <div class="thumbnail">
            <img [src]="videoItem.snippet.thumbnails.default.url" alt="">
        </div>
        <div class="video-details">
            <div class="video-title">
                {{videoItem.snippet.title}}
            </div>
            <div class="video-info" *ngIf="isVideoStatisticsAvailable">
                {{videoItem.snippet.channelTitle}} {{videoStatistics.viewCount | numberPrecision }} views

            </div>
        </div>
    </a>
</div>