@import 'variables';
.filter-container {
    height: 25px;
    display: flex;
    // @media screen and (max-width: $small-screen) {
    @include xs {
        padding: 5px 6px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 4px;
        div {
            height: 26px;
        }
        select {
            height: 100%;
            margin-right: 5px;
            background-color: $mobile-dropdown-background-color;
        }
        .order-filter {
            display: none;
        }
    }
    @include md {
        margin-top: 55px;
    }
}