@import 'variables';
.filter-container {
    height: 25px;
    display: flex;
    @include xs {
        padding: 5px 6px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 4px;
        div {}
        select {
            height: 100%;
            margin-right: 5px;
            background-color: $mobile-dropdown-background-color;
            color: $dark-font-color;
            border: solid #EDEDED 1px;
            text-decoration: none;
        }
        .filter-control-row,
        .filter-title {
            display: none;
        }
        .filters-group {
            display: flex !important;
            width: 100%;
            .type-filter {
                width: 25%;
                margin-right: 2.5%;
                order: 1;
            }
            .time-filter {
                width: 25%;
                order: 2;
            }
            .order-filter {
                display: none;
            }
        }
    }
    @include md {
        height: auto;
        margin-top: 55px;
        border-bottom: solid 1px $filter-border-color;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: block;
        .filter-control-row {
            padding-top: 35px;
            width: 100%;
            .result-count {
                display: inline-block;
                color: #181818;
            }
            .filter-group-toggle {
                float: right;
                margin-right: 1%;
                color: $filter-color;
                display: flex;
                button {
                    background-color: $app-background-color;
                    color: $filter-color;
                    padding: 0px 17px 3px 4px;
                    border: solid #EDEDED 0px;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    outline: none;
                    span {
                        padding-top: 4px;
                        margin-left: 6px;
                    }
                }
            }
        }
        .filters-group {
            display: inline-flex;
            margin-top: 30px;
            width: 100%;
            .type-filter,
            .order-filter,
            .time-filter {
                width: 25%;
                margin-right: 4%;
                height: 300px;
                .filter-title {
                    border-bottom: solid 1px $border-color;
                    padding-bottom: 14px;
                }
            }
            select {
                background-color: $app-background-color;
                color: $filter-color;
                padding: 0px 17px 3px 4px;
                border: solid #EDEDED 0px;
                text-decoration: none;
            }
        }
    }
}