<div class="filter-container">
    <div class="filter-control-row">
        <div class="result-count">
            <span *ngIf="!filtered">
                About {{totalResults}} results
        </span>
            <span *ngIf="filtered">
                About {{totalResults}} filtered results
        </span>

        </div>
        <div class="filter-group-toggle">

            <button (click)="toggleFiltersGroupVisibilty()">
                 <i class="material-icons">filter_list</i> 
                <span>
                    FILTER
                </span>
                </button>
        </div>
    </div>
    <div class="filters-group" [@filterToggle]='showFiltersGroup'>
        <!-- @TODO make component for filter -->
        <div class="time-filter">
            <div class="filter-title">
                UPLOAD DATE
            </div>
            <app-dropdown-filter (clicked)="toggleFiltersGroupVisibilty()" [dropDownId]="'time-filter'" [dropDownTitle]="UploadTimeFilterTitle" [dropDownOptions]="uploadDateFilters" (clicked)="filterResultsByDate($event)" [queryParamName]="'time'"></app-dropdown-filter>

        </div>
        <div class="type-filter">
            <div class="filter-title">
                TYPE
            </div>
            <app-dropdown-filter (clicked)="toggleFiltersGroupVisibilty()" [dropDownId]="'type-filter'" [dropDownTitle]="typeFilterTitle" [dropDownOptions]="typeFilters" (clicked)="filterResultsByType($event)" [queryParamName]="'type'">
            </app-dropdown-filter>

        </div>

        <div class="order-filter">
            <div class="filter-title">
                SORT BY
            </div>
            <app-dropdown-filter (clicked)="toggleFiltersGroupVisibilty()" [dropDownId]="'order-filter'" [dropDownTitle]="OrderFilterTitle" [dropDownOptions]="orderFilters" (clicked)="filterResultsByOrder($event)" [queryParamName]="'order'" [defaultValue]="'relevance'">
            </app-dropdown-filter>
        </div>
    </div>
</div>