@import 'variables';
.video-container {
    display: flex;
    a {
        color: $dark-font-color;
        height: 100%;
    }
    @include xs {
        width: 95%;
        margin: 5px 0;
        margin-left: 3%;
        .thumbnail {
            width: 50%;
            display: inline-block;
            overflow: hidden;
            img {
                width: 100%;
                margin: -10.6% 0;
            }
        }
        .video-duration {
            color: white;
            text-align: right;
            margin-right: 4px;
            color: $duration-color;
            border-radius: 3px;
            padding: 0 3px;
            font-weight: bold;
            background-color: $duration-background-color;
            position: relative;
            margin: -10% 2%;
            float: right;
            font-size: x-small;
        }
        .video-details {
            height: 100%;
            width: 48%;
            float: right;
            font-size: smaller;
            .video-title {
                display: inline-block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .video-info {
                .video-channel-title,
                .video-view-count,
                {
                    opacity: .6;
                    display: inline-block;
                    width: 100%;
                }
            }
            .video-description,
            .video-publish-at {
                display: none;
            }
        }
    }
    @include md {
        width: 100%;
        height: 100%;
        margin: 5px 0;
        .thumbnail {
            width: 34%;
            display: inline-block;
            overflow: hidden;
            img {
                width: 100%;
                margin: -10.6% 0;
            }
            .video-duration {
                text-align: right;
                margin-right: 4px;
                color: $duration-color;
                border-radius: 3px;
                padding: 0 3px;
                font-weight: bold;
                background-color: $duration-background-color;
                position: relative;
                margin: -8% 2%;
                float: right;
            }
        }
        .video-details {
            height: 100%;
            padding-top: 5px;
            width: 64%;
            float: right;
            font-size: large;
            .video-title {
                display: inline-block;
                width: 100%;
            }
            .video-info {
                display: inline-flex;
                width: 85%;
                margin-bottom: 19px;
                font-weight: 300;
                .video-channel-title,
                .video-view-count,
                .video-publish-at {
                    opacity: .6;
                    // display: inline-block;
                    width: auto;
                }
            }
            .video-description {
                opacity: .7;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: 400;
            }
        }
    }
}