/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import "~material-design-icons/iconfont/material-icons.css";
html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: $app-background-color;
    @include xs {
        background-color: $white-color;
    }
}