@import 'variables';
@include xs {
    .dropbtn {
        background-color: $app-background-color;
        color: $filter-color;
        border: solid #EDEDED 0px;
        text-decoration: none;
        font-size: 12px;
        outline: none;
        width: 100%;
        text-align: left;
        height: 24px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: $app-background-color;
        color: $filter-color;
        border: solid #EDEDED 1px;
        text-decoration: none;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $app-background-color;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            color: $filter-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: solid 1px $filter-border-color;
        }
    }
    .show {
        display: block;
    }
    .dropdown:after {
        content: "▼";
        padding: 8px 0px;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 7px;
        z-index: 1;
        text-align: center;
        width: 1%;
        height: 54%;
        pointer-events: none;
    }
}

@include md {
    .dropbtn {
        display: none;
    }
    .dropdown-content {
        background-color: $app-background-color;
        width: 100%;
        font-weight: lighter;
        .option-container {
            display: flex;
        }
        a {
            color: $filter-color;
            padding: 12px 0;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }
    }
    .selected {
        color: $filter-option-selected !important;
        font-weight: 400;
    }
    .clear-selected {
        margin-top: 6%;
        margin-left: 3%;
        font-size: 19px;
        display: none;
        cursor: pointer;
    }
    .show-clear {
        display: inline;
    }
}